.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  height: calc(100vh - 4.19rem);

  h1 {
    margin-bottom: 1.5rem;
    color: var(--text);
  }

  p {
    margin-bottom: 5rem;
    color: var(--text);
  }
}
