.homepage {
  background-color: var(--white-2);
  height: calc(100vh - 4.19rem);
  overflow-y: scroll;
}

.github__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
