.homepage {
  background-color: var(--background);
  height: calc(100vh - 4.19rem);
  overflow-y: scroll;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .containerSearch {
    display: none;
    margin-top: 1rem;
  }
}

@media (max-width: 635px) {
  .containerSearch {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
