.containerHeader {
  background-color: var(--background);
  border-bottom: 1px solid rgba(#c5c5c5, 0.2);
  height: 4.19rem;

  .content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: var(--logo);
      font-size: 1.5rem;
    }

    .containerNav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 635px) {
  .content {
    .containerNav,
    .containerThemeIcon,
    .containerSearch {
      display: none !important;
      visibility: hidden;
      overflow: hidden;
    }
  }
}
