.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  z-index: 1;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;

    .icon {
      transition: transform 0.3s;
      animation: iconAnimated 0.9s ease-in-out infinite;
    }
  }
}

@keyframes iconAnimated {
  from {
    transform: rotate(0deg);
    color: green;
  }

  to {
    color: red;
    transform: rotate(360deg);
  }
}
