.containerSearch {
  position: relative;

  .container__sun__icon {
    position: absolute;
    top: -6.6rem;
    right: 12rem;

    .sun__icon {
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  input {
    height: 2rem;
    padding: 0 1rem 0 2rem;
    background-color: var(--white-3);

    &::placeholder {
      color: var(--black);
    }
  }

  .search__icon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  button {
    height: 2rem;
    width: 5rem;
    background-color: var(--black);
    border: 1px solid rgba(229, 229, 229, 0.5);
    color: var(--white-2);
    transition: filter 0.3s;

    &:hover {
      filter: brightness(1.15);
    }
  }
}

@media (min-width: 720px) {
  .containerSearch {
    .container__sun__icon {
      position: absolute;
      top: 0;
      right: 2rem;
    }
  }
}
