.containerSearch {
  position: relative;

  input {
    height: 2rem;
    padding: 0 1rem 0 2rem;
    background-color: var(--white-3);

    &::placeholder {
      color: rgba(41, 35, 37, 0.5);
    }
  }

  .search__icon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  button {
    height: 2rem;
    width: 5rem;
    background-color: var(--black);
    border: 1px solid rgba(229, 229, 229, 0.5);
    color: var(--white-3);
    transition: filter 0.3s;

    &:hover {
      filter: brightness(1.15);
    }
  }
}
