.containerSearch {
  .form {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    max-width: 100%;

    .containerInput {
      position: relative;
      flex-grow: 1;
      .searchIcon {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
        color: var(--text);
      }

      input {
        height: 2rem;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem 0 2rem;
        background-color: var(--background);
        color: var(--text);
        border: none;
        border-bottom: 1.5px solid var(--text);
        outline-color: var(--text);

        &::placeholder {
          color: var(--text);
          opacity: 0.5;
        }
      }
    }

    button {
      flex-grow: 1;
      height: 2rem;
      min-width: 5rem;
      max-width: 100%;
      background-color: var(--background);
      border: 1px solid rgba(197, 197, 197, 0.5);
      color: var(--text);
      font-weight: 500;
      transition: filter 0.3s;
      margin-left: 0.5rem;

      &:hover {
        outline: 1px solid rgb(201, 201, 201);
        filter: brightness(0.97);
      }
    }
  }
}

@media (max-width: 635px) {
  .form {
    flex-direction: column;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin: 1rem auto 0 auto !important;
    }
  }
}
