.light {
  --white-1: #fff;
  --white-2: #f5f6f7;
  --white-3: #e5e5e5;
  --black: #292325;
}

.dark {
  --white-1: #0f0f0f;
  --white-2: #383737;
  --white-3: #fcfafa;
  --black: #d1d1d1;
  --input--placeholder: #0f0f0f;
}
